@page
@model WebUniversity.Pages.TeacherStudyJoints.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TeacherStudyJoint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeacherStudyJoint.Id" />
            <div class="form-group">
                <label asp-for="TeacherStudyJoint.TeacherId" class="control-label"></label>
                <select asp-for="TeacherStudyJoint.TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
                <span asp-validation-for="TeacherStudyJoint.TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherStudyJoint.StudyId" class="control-label"></label>
                <select asp-for="TeacherStudyJoint.StudyId" class="form-control" asp-items="ViewBag.StudyId"></select>
                <span asp-validation-for="TeacherStudyJoint.StudyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherStudyJoint.Hours" class="control-label"></label>
                <input asp-for="TeacherStudyJoint.Hours" class="form-control" />
                <span asp-validation-for="TeacherStudyJoint.Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
