USE [master]
GO
/****** Object:  Database [university]    Script Date: 13.10.2020 1:35:25 ******/
CREATE DATABASE [university]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'university', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\university.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'university_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\university_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [university].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [university]
GO
/****** Object:  Table [dbo].[post]    Script Date: 13.10.2020 1:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[id] [bigint] NOT NULL,
	[title] [varchar](50) NOT NULL,
	[salary] [float] NOT NULL,
 CONSTRAINT [PK_post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[study]    Script Date: 13.10.2020 1:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[study](
	[id] [bigint] NOT NULL,
	[title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_study] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 13.10.2020 1:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[id] [bigint] NOT NULL,
	[full_name] [varchar](128) NOT NULL,
	[phone] [varchar](20) NULL,
	[work_address] [varchar](128) NULL,
	[post_id] [bigint] NOT NULL,
	[home_address] [varchar](128) NULL,
	[characteristic] [text] NULL,
 CONSTRAINT [PK_teacher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher_study_joint]    Script Date: 13.10.2020 1:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher_study_joint](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[teacher_id] [bigint] NOT NULL,
	[study_id] [bigint] NOT NULL,
	[hours] [bigint] NOT NULL,
 CONSTRAINT [PK_teacher_study_joint] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[teacher]  WITH CHECK ADD  CONSTRAINT [FK_teacher_post] FOREIGN KEY([id])
REFERENCES [dbo].[teacher] ([id])
GO
ALTER TABLE [dbo].[teacher] CHECK CONSTRAINT [FK_teacher_post]
GO
ALTER TABLE [dbo].[teacher_study_joint]  WITH CHECK ADD  CONSTRAINT [FK_study_id] FOREIGN KEY([study_id])
REFERENCES [dbo].[study] ([id])
GO
ALTER TABLE [dbo].[teacher_study_joint] CHECK CONSTRAINT [FK_study_id]
GO
ALTER TABLE [dbo].[teacher_study_joint]  WITH CHECK ADD  CONSTRAINT [FK_teacher_id] FOREIGN KEY([id])
REFERENCES [dbo].[teacher_study_joint] ([id])
GO
ALTER TABLE [dbo].[teacher_study_joint] CHECK CONSTRAINT [FK_teacher_id]
GO
USE [master]
GO
